.main_content{
	min-height:450px;
}
.table-list{
	width:100%
}

fieldset.view .info{
	padding:0.5em 0;
	margin: 0 0 1em 0;
}

fieldset label{
	font-weight:bold;
}
.user_login h2{
	text-align:center
}
.user_login label{
	font-weight:bold;
}
.user_login .button{
	margin:0 auto;
	display:block;
	width:80px;
	font-size:16px;
}
.permisions label{
	display:inline-block;
}
.permisions input{
	display:inline;
	margin:0 0 0.5em 2px;
}

.dlt_cont ul{
	max-width:100px
}

.icon-trash
{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("../img/glyphicons-halflings.png");
	background-position: -456px 0;
	background-repeat: no-repeat;
}