
.template_main .nav_placeholder{
	height:70px;
}
.template_main .page-title{
	margin:0 0 20px;
	float:left;
}
.template_main .page-nav{
	margin:5px 0 0;
}
.plain .nav_placeholder{
	height:60px;
}
.plain .logo{
	width:150px;
	text-align:center;
	margin:0px auto;
	line-height:41px;
	color:#fff;
	font-size:21px;
	border-left:1px solid #797979;
	border-right:1px solid #797979;
}
.template_main .logo{ color:#fff}
.form-login {
	max-width: 300px;
	padding: 19px 29px 29px;
	text-align:center;
}
.form-login h2{
	margin:0 0 30px;
}
.alert{
	text-align:center;
}
table.table-form {
width: 100%;
}
table.table-form th, table.table-form td {
	padding: 10px;
	vertical-align: top;
}
table.table-form th {
	width: 150px;
	text-align: right;
}
